.login_class {
    top:298px !important;
}

.span_class {
    left:69px !important;
}

.forgot_class {
    margin-top:6px;
    
    text-decoration:none;
    text-shadow: 1px 1px 0 black;
    color:#FFFFFF;
    
    font-size:14px;
    font-family:Roboto;
    font-style:Regular;
    font-weight:400px;
}