@media only screen and (max-width:950px) {
    
    .caixa_principal_class {
        width:100%;
        height:100%;
    }
    
    .caixa_secundaria_class {
        width:100%;
        height:100%;
    }
    
    .caixa_terciaria_class {
        width:100%;
        height:100%;
    }
    
    .caixa0_class {
        background-image:url("../img/logo-playcode.png");
        background-repeat:no-repeat;
        background-position:center;
        
        width:100%;
        height:10%;
    }
    
    .anotherBox {
        margin:3% 3%;
        
        display:flex;
        flex-direction:column;
    }
    
    .grupo1 {
        
    }
    
    .grupo2 {
        
    }
    
    .caixa_class {
        margin-bottom:40px;
    }
    
    .img_class {
        transition-property:all;
        transition-duration:0.2s;
    }
    
    .img1_class {
        background-image:url("../img/img1.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
        height:400px;
    }
    
    .img2_class {
        background-image:url("../img/img2.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
        height:400px;
    }
    
    .img3_class {
        background-image:url("../img/img3.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
        height:400px;
    }
    
    .img4_class {
        background-image:url("../img/img4.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
        height:400px;
    }
    
    .img5_class {
        background-image:url("../img/img5.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
        height:400px;
    }
    
    .img6_class {
        background-image:url("../img/img6.png");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
        height:400px;
    }
    
    .text_class {
        font-family:'Roboto';
        font-style:Medium;
        font-weight:500;
        font-size:20px;

        color:#4a4a4a;
        text-transform:uppercase;
    }

    
}

@media only screen and (max-width:720px) {
    
    .img_class {
        height:350px;
    }
    
}

@media only screen and (max-width:600px) {
    
    .img_class {
        height:300px;
    }
    
}

@media only screen and (max-width:510px) {
    
    .img_class {
        height:250px;
    }
    
}

@media only screen and (max-width:410px) {
    
    .img_class {
        height:200px;
    }
    
}

@media only screen and (max-width:330px) {
    
    .img_class {
        height:150px;
    }
    
}