* {
    padding:0px;
    margin:0px;
}

.caixa_principal_class {
    width:95.4%;
}

.caixa0_class {
    text-align:center;
    width:100%;
    margin:25px 10px 28px 10px;
}

.caixa_secundaria_class {
    width:100%;
}

.caixa_class {
    width:100%;
    margin:0px 10px 20px 10px;
}

.img_class {
    width:100%;
    margin-bottom:5px;
}

.caixa_text_class {
    height:50px;
}

.text_class {
    font-family:'Roboto';
    font-style:Medium;
    font-weight:500;
    font-size:20px;
    
    color:#4a4a4a;
    text-transform:uppercase;
}